QLabel{font-size: 7pt;}
QPushButton { color: #e6e6e6; background-color: #5d2f96;border-radius : 12px; border: 2px solid #b318c1b6}
QPushButton:hover{background-color: #4343a0;}
QPushButton:disabled{color:#9e9e9e; background-color: #13132e;border-radius : 12px; border: 2px solid #0f0f27b6}
QTextEdit,QLineEdit{border: 1px solid grey; border-radius:10px;}